[submodule "tutorials/restapi"]
	path = tutorials/restapi
	url = git@github.com:Mnemotix/fake-api.git
[submodule "tutorials/backbone"]
	path = tutorials/backbone
	url = git@github.com:Mnemotix/bbtodo.git
[submodule "tutorials/backbone2"]
	path = tutorials/backbone2
	url = git@github.com:Mnemotix/backbone-restful-client.git
[submodule "tutorials/gulp"]
	path = tutorials/gulp
	url = git@github.com:Mnemotix/gulp-tuto.git
